.signup {
    flex: 1;
    overflow-x: hidden;
}

.signup__row {
    padding-top: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup__title {
    color: #000;
    font-size: 28px;
    font-weight: 700;
    line-height: 38px; /* 135.714% */
    text-align: center;
    margin-bottom: 40px;
}

.signup__form {
    max-width: 440px;
    width: 100%;
}

.signup__auth {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.signup__auth label {
    margin-bottom: 5px;
}

.signup__auth input {
    border-radius: 10px;
    border: 1px solid var(--black-black-200, #e0e0e0);
    background: var(--black-white, #fff);
    padding: 10px;
}

.signup__forget-password {
    position: relative;
    font-size: 12px;
    top: 8px;
    right: -75%;
    color: #000;
}

.signup__image {
    position: relative;
    left: 31%;
}

.signup__image img {
    max-width: 90%;
}

.signup__button {
    margin-top: 10px;
    border-radius: 10px;
    background: var(--primary-dark-green, #32794f);
    width: 100%;
    padding: 10px;
    color: #fff;
    transition: all 0.3s ease 0s;
}

.signup__button:hover {
    background-color: #2b6945;
}

.signup__tosignup p {
    margin-top: 40px;
    text-align: center;
    color: var(--black-black-600, #616161);
    font-size: 18px;
    line-height: 25px; /* 138.889% */
}
