.invest {
    padding: 50px 0;
    background: rgba(242, 255, 245, 0.6);
}

.invest__container {
    text-align: center;
}

.invest__title-block {
    margin-bottom: 50px;
    color: #000;
    font-size: 28px;
    line-height: 38px; /* 135.714% */
}

.invest__title-text-big {
    color: #32794f;
    font-size: 40px;
    font-weight: 700;
    line-height: 55px;
}

.invest__button {
    border-radius: 10px;
    background: #22b573;
    box-shadow: -2px 3px 6px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 80px;
    color: #fff;
    transition: all 0.3s ease 0s;
}

.invest__button:hover {
    background: #177f50;
}
